body {
  font-family:
    Roboto,
    Arial,
    Helvetica,
    Verdana,
    PT Sans Caption,
    sans-serif;
}

.contentalign {
  background-color: rgb(250, 250, 250);
  width: 85%;
}

.home {
  padding: 0px 32px;
  margin-top: 8px;
}

.category {
  display: flex;
  margin-bottom: 16px;
  height: 38px;
}

.categorylist {
  display: flex;
  margin-top: 14px !important;
  padding: 6px 0px;
  margin-right: 16px;
  border-radius: 4px;
}

li {
  font-size: 12px;
  padding: 6px 3px;
  margin-right: 16px;
  border-radius: 4px;
}

.a {
  color: inherit;
  text-decoration: none;
  padding: 10px;
}

a:hover {
  background: rgba(76, 147, 255, 0.1);
  text-decoration: none;
}

section {
  margin-bottom: 64px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

.flex {
  display: flex;
}

.contentpicture {
  display: block;
  width: 36px;
  height: 36px;
  object-fit: inherit;
}

.vidimage {
  display: block;
  width: 372px;
  height: 209px;
  object-fit: inherit;
}

h1 {
  margin: 5px;
  font-size: 16px;
  word-wrap: anywhere;
}

.graytext {
  color: rgb(102, 102, 102);
  font-size: 14px;
  margin-top: 0px;
}

del {
  margin: 5px;
  font-size: 16px;
  word-wrap: anywhere;
  font-weight: bold;
}

.contentpicturegray {
  display: block;
  width: 36px;
  height: 36px;
  object-fit: inherit;
  filter: grayscale(100%);
}

.vidimagegray {
  display: block;
  width: 372px;
  height: 209px;
  object-fit: inherit;
  -webkit-filter: grayscale(100%);
}
